name: Calendar Test

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          node-version: '20'
      - run: npm ci
      - run: jest
      - run: npm build